*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    }
body {
    background-color: cornflowerblue;
}
/* Header */
header {
    display: grid;
    background-color: coral;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    gap: 5px;
}
.logo {
    width: 150px;
    height: 100px;
    justify-content: space-evenly;
}

.logo img {
    width: 150px;
    height: 100px;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes img{
    height: 30px;
    padding: 3px;
}

.titulo {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    color: aquamarine;
    
}

.menu a {
    text-decoration: none;
    color: rgb(0, 26, 48);
    background-color: rgb(17, 213, 248);
    padding: 5px; 
    font-weight: 500;
    transition: all 4ms;
}
.menu a:hover {
    background-color:rgb(0, 26, 48); ;
    color: rgb(17, 213, 248);

}
nav {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Cuerpo */

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitulo h2 {
    margin: 5px;
    font-family: sans-serif;
    font-weight: 900;
    font-style: oblique;
    color: blueviolet;
    background-color: beige;
}
#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2fr 1fr 1fr 1fr;
}
#main .subtitulos {
    grid-column: 1/3;
}
main p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 10px 15px 10px;
    font-size: 30px;
    color: darkviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.portada {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding-bottom: 10px;
    
}
.portada img {
    height: 400px;
    width: 370px;
    border: 2px solid black;

}
.inicioimg {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    padding-bottom: 10px;
}
.abcd img {
    border: 3px solid black;
    height: 200px;
    width: 180px;
}
#main .abcd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

   
}
/* Footer */

footer {
    display: grid;
    height: 70px;
    width: 100%;
    bottom: 0%;
    padding-top: 5px;
    position: static;
    background-color: coral;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.footitulo {
    height: 20px;
}
.footitulo h3 {
    color: aquamarine;
    font-size: 17px;
}
.fooconsulta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
.fooimg { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
}
.fooimg a {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 4ms;
}
.fooimg a:hover {
    color: white;
    font-size: 20px;
    background-color: black;

}
footer img {
    height: 20px;
    margin: 10px;
}
/* QUIENES SOMOS */
.section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.quienesSomos {
    flex-direction: column;
}

.texto {
    background-color: aqua;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    border: 5px solid greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: center;
    align-self: center;
}

#imagenes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    flex-direction: row;

}
.imagenes2 {
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 70%;
    
}
.imagenes2 img {
    width: 500px;
    height: auto;
    border: 5px solid greenyellow;
}
.imagenes2 p {
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: tomato;
    color: blueviolet;
    border-radius: 20px;
}

/* Contacto */
#contacto {
    padding: 50px 0px;
}
.formulario{
    border: 7px solid rgb(107, 46, 221);
    background-color: rgb(53, 141, 141);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.formularioP {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: bisque;
}
.label{
    display: flex;
    flex-direction: row;
    width:80%;
    align-items: center;
    justify-content:space-between;
    margin-top: 3%;
}

.coment-area{
    margin-top: 5%;
    margin-bottom: 5%;

}

.coment-area p{
    position: relative;
    padding: 0%;
    margin-bottom: 10%;
    font-size: 20px;
}

.opciones1{
    width: 100%;
    height: 30%;
}
.metodo {
    width: 100%;
    height: 30%;
}
.opciones1 h4{
    width: 100%;
    font-size: 20px;
    
}

.opciones2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.opcion{
    display: flex;
    justify-content: center;
    width: 18%;
}

.opcion input{
    margin-left: 0%;
}
.enviar {
    padding-left: 40%;
}
.enviar input{
    width: 40%;
    height: 40%;
     background-color: white;
}
.contactolog {
    display: flex;
    width: 100%;
    padding-top: 10%;
}
.contactolog img {
    width: 100%;
    height: 70%;
}
/* Animaciones */

.animacionesParrafo {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.animacionesP {
    background-color: rgb(160, 45, 93);
    font-size: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 200px;
    border: 5px solid rgb(233, 64, 210);
    font-family: fantasy;
}

.animacionesImagenes {
    padding: 10px;
    justify-content: center;
    align-items: center;    
}


.imagenesA {
    padding: 5px;
    display: flex;
    width: 100%;
    height: auto;
    border: 7px solid plum;
    gap: 100px;
    
}
.imagenesB {
    padding: 5px;
    display: flex;
    width: 100%;
    height: auto;
    border: 7px solid plum;
    gap: 100px;
}
.imagenesC {
    padding: 5px;
    display: flex;
    width: 100%;
    height: auto;
    border: 7px solid plum;
    gap: 100px;
}

.imagenesA img {
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);

}

.imagenesB img {
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);
}
.imagenesC img {
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);
}
.tituloFulano {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    
}
.tituloFulano p {
    padding: 2px 15px;
    background-color: bisque;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Juegos*/


.cuerpoJuegos {
    justify-content: center;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;

}

.juego1 {
    justify-content: center ;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    border: 10px rgb(248, 69, 69);
    border-style: groove;
    gap: 20px;
    
}
.juego1 img {
    display: flex;
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: 3px solid rgb(103, 255, 222);
}
.tituloJuegos {
    justify-self: center;
    display: flex;
    width: 70%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(215, 228, 31);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;

}
.tituloJuegos p{
    
    padding: 0px 20px;
}

@media (min-width: 800px) {

    /*Header*/
header {
        display: grid;
        background-color: coral;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        gap: 5px;
}
.logo {
        width: 400px;
        height: 100px;
        justify-content: space-evenly;
}

.logo img {
        width: 300px;
        height: 100px;
}
.redes {
        display: flex;
        justify-content: center;
        align-items: center;
}
.redes img{
        height: 60px;
        padding: 10px;
}
    
.titulo {
        font-family: sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
        color: aquamarine;
        width: 100%;
        height: 100px
}
.titulo h1 {
        font-size: 50px ;
}

.menu a {
        border: 2px solid black;
        text-decoration: none;
        color: rgb(0, 26, 48);
        background-color: rgb(17, 213, 248);
        padding: 5px; 
        font-weight: 700;
        transition: all 4ms;
}
.menu a:hover {
        background-color:rgb(0, 26, 48); ;
        color: rgb(17, 213, 248);
    
}
nav {
        padding-top: 3px;
        font-size: 20px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    
}

    /*Cuerpo*/

#main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
}
#main .subtitulos {
        grid-column: 2/3;
        grid-row: 1/4;
}
.subtitulo {
        display: flex;
        align-items: center;
        justify-content: center;
}
.subtitulo h2 {
        font-size: 40px;
        margin: 10px;
        font-family: sans-serif;
        font-weight: 900;
        font-style: oblique;
        color: blueviolet;
        background-color: beige;
}
main p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        color: darkviolet;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.portada {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
        padding-bottom: 10px;
        
}
    .portada img {
        height: 700px;
        width: 500px;
        border: 2px solid black;
    
}
    .inicioimg {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px;
        padding-bottom: 10px;
}
    .abcd img {
        border: 3px solid black;
        height: 400px;
        width: 300px;
}
 #main .abcd {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
}
    /* Footer*/
 footer {
        display: grid;
        height: 100px;
        width: 100%;
        bottom: 0%;
        padding-top: 5px;
        position: static;
        background-color: coral;
        grid-template-columns: 2fr 1fr;
        
}
.footitulo {
        height: 20px;
        align-self: center;
        justify-self: center;

}
.footitulo h3 {
        color: aquamarine;
        font-size: 30px;
       
}
.fooconsulta {
        align-self: center;
        height: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
}
.fooconsulta img { 
        height: 30px;
}
.fooimg a {
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all 4ms;
}
.fooimg a:hover {
        color: white;
        font-size: 20px;
        background-color: black;
    
}
footer img {
        height: 20px;
        margin: 10px;
} 
/* Contacto */
#contacto {
    padding-top: 5%;
    padding-bottom: 5%;
}
.formulario{
    border: 7px solid rgb(107, 46, 221);
    background-color: rgb(53, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    margin-left: 30%;

}
.formularioP {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: bisque;
}
.label{
    display: flex;
    flex-direction: row;
    width:45%;
    align-items: center;
    justify-content:space-between;
    margin-top: 3%;
}

.coment-area{
    margin-top: 3%;
    margin-bottom: 3%;
}

.coment-area p{
    position: relative;
    padding: 0% 25%;
    margin-bottom: 3%;
    font-size: 24px;
}

.opciones1{
    width: 70%;
}

.opciones1 h4{
    padding: 0% 25%;
    width: 100%;
    font-size: 20px;
    
}

.opciones2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.opcion{
    display: flex;
    justify-content: center;
    width: 18%;
}

.opcion input{
    margin-left: 0%;
}
.contactolog {
    padding: 10%;
}
/* Quienes Somos */
.section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.quienesSomos {
    flex-direction: column;
}

.texto {
    background-color: aqua;
    font-size: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 300px;
    border: 5px solid greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
}

#imagenes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    flex-direction: row;

}
.imagenes2 {
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 200px;
    
}
.imagenes2 img {
    width: 200px;
    height: auto;
    border: 5px solid greenyellow;
}
.imagenes2 p {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Animaciones */

.animacionesParrafo {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.animacionesP {
    background-color: rgb(160, 45, 93);
    font-size: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 200px;
    border: 5px solid rgb(233, 64, 210);
    font-family: fantasy;
}

.animacionesImagenes {
    padding: 10px;
    justify-content: center;
    align-items: center;    
}


.imagenesA {
    padding: 5px;
    display: flex;
    width: 100%;
    height: auto;
    border: 7px solid plum;
    gap: 100px;
    
}
.imagenesB {
    padding: 5px;
    display: flex;
    width: 100%;
    height: auto;
    border: 7px solid plum;
    gap: 100px;
}
.imagenesC {
    padding: 5px;
    display: flex;
    width: 100%;
    height: auto;
    border: 7px solid plum;
    gap: 100px;
}

.imagenesA img {
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);

}

.imagenesB img {
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);
}
.imagenesC img {
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);
}
.tituloFulano {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    
}
.tituloFulano p {
    padding: 2px 15px;
    background-color: bisque;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Juegos*/


.cuerpoJuegos {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;    
}

.juego1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: px;
    width: 1500px;
    height: 450px;
    border: 10px rgb(248, 69, 69);
    border-style: groove;
    gap: 50px;
    
}
.juego1 img {
    width: 400px;
    height: auto;
    border-radius: 7px;
    border: 3px solid rgb(103, 255, 222);
}
.tituloJuegos {

    width: 500px;
    height: 60px;
    padding: 10px 100px;
    background-color: rgb(215, 228, 31);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.tituloJuegos p{
    padding: 0px 20px;
}
}